{% extends 'base.html' %}

{% block content %}

    <!-- block status and date -->
    <div class="row mt-3">
        <div class="col-6">
            {% if day.date == today %}
                <form action="" method="post">
                    {% csrf_token %}
                    <label>
                        <select class="form-select" name="status" style="max-width: 150px">
                            {% for choice in day.STATUS %}
                                <option value="{{ choice }}" {% if choice.0 == day.status %} selected {% endif %}>
                                    {{ choice.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                    <button class="btn btn-success" type="submit" name="save-status">Save</button>
                </form>
            {% else %}
                {% if day.status == day.SOON %}
                    <nobr style="color:rgb(0,0,255)">Lock</nobr>
                {% elif day.status == day.COMPLETED %}
                    <nobr style="color:rgb(0,255,0)">Completed</nobr>
                {% elif day.status == day.FAILED %}
                    <nobr style="color:rgb(255,0,0)">Failed</nobr>
                {% else %}
                    <nobr style="color:rgb(255,255,0)">Another</nobr>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-6">
            <p style="text-align: right">{{ day.date|date:"M j" }}</p>
        </div>
    </div>
    <!-- end block status and date -->
    <hr>
    <!-- block note -->
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="note" class="form-label"></label>
                <textarea class="form-control" id="note" rows="4" name="note">{{ day.note }}</textarea>
            </div>
            <button class="btn btn-success" type="submit" name="save-note">Save</button>
        </form>
    </div>
    <!-- end block note -->
    <hr>
    <!-- block habit -->
    <div>
        <p>{{ day.habit.title }}</p>
    </div>
    <!-- end block habit -->

{% endblock content %}