{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <!-- block description -->
        <div class="col-6">
            <div class="mb-3">
                <label for="title" class="form-label"></label>
                <input type="text" class="form-control" id="title" value="{{ habit.title }}">
            </div>
            <hr>
            <div class="mb-3">
                <label for="description" class="form-label"></label>
                <textarea class="form-control" id="description" rows="8">{{ habit.description }}</textarea>
            </div>
        </div>
        <!-- end block description -->

        <!-- block date -->
        <div class="col-6">
            <div class="mt-3">
                <p>
                    {{ habit.opening }} - {{ habit.closing }}
                </p>
            </div>
            <hr>
            <div>
                {% for month in months %}
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample-{{ month.unique_month.month }}" aria-expanded="false"
                                aria-controls="collapseExample">
                            {{ month.unique_month|date:"F" }}
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample-{{ month.unique_month.month }}">
                        <div class="card card-body">
                            {% for day in days %}
                                {% if day.date.month == month.unique_month.month %}
                                    <a href="{% url 'day' day.pk %}">
                                        {{ day.date|date:"M j" }}
                                        {% if day.status == day.SOON %}
                                            <nobr style="color:rgb(0,0,255)">Lock</nobr>
                                        {% elif day.status == day.COMPLETED %}
                                            <nobr style="color:rgb(0,255,0)">Completed</nobr>
                                        {% elif day.status == day.FAILED %}
                                            <nobr style="color:rgb(255,0,0)">Failed</nobr>
                                        {% else %}
                                            <nobr style="color:rgb(255,255,0)">Another</nobr>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- end block date -->
        <hr>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ progress.days }}/{{ habit.term }}
            </div>
        </div>
    </div>

{% endblock %}